[submodule "chassis-driver"]
    path = chassis-driver
    url = ../chassis-driver

[submodule "encoder-motor-data"]
    path = encoder-motor-data
    url = ../encoder-motor-data

[submodule "edge-ai-interface"]
    path = edge-ai-interface
    url = ../edge-ai-interface
