[submodule "chassis-driver"]
	path = chassis-driver
	url = git@github.com:padhialuo0426/chassis-driver.git
[submodule "encoder-motor-data"]
	path = encoder-motor-data
	url = git@github.com:padhialuo0426/encoder-motor-data.git
[submodule "edge-ai-interface"]
	path = edge-ai-interface
	url = git@github.com:padhialuo0426/edge-ai-interface.git
